<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../resources/css/flexboxgrid-6.3.1/css/flexboxgrid.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.png" />
    <script type="text/javascript" src="../../resources/libs/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../../resources/script/main.js"></script>
    <script type="text/javascript" src="../../resources/libs/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
    <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoYZy2GGamOODtfAgNr3Q0q_LZAYzfBRk&callback=initMap"></script>-->
    <!--<script type="text/javascript" src="../../resources/script/googleMaps.js"></script>-->
    <title>Dinner Party</title>
</head>
<body>

<div class="mainContainer col-md-12 col-xs-12">

</div>

</body>

</html>
